In [9]:
!pip install xlrd
# Import functions from the Python module you created
from data_processing import load_data, clean_data, rename_columns, merge_data, reshape_data, save_to_csv

# 1. Load meat and cereal data
meat_data = load_data('meat.xls')
cereal_data = load_data('staple.xls')

# 2. Clean meat data (drop specified columns)
meat_columns_to_drop = [12, 13, 15, 16, 18, 19, 21, 22, 24, 25, 27, 28, 31, 32, 34, 35, 37, 38]
meat_cleaned = clean_data(meat_data, meat_columns_to_drop)

# 3. Clean cereal data (drop specified columns)
cereal_columns_to_drop = [10, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65]
cereal_cleaned = clean_data(cereal_data, cereal_columns_to_drop)

# 4. Rename columns
meat_renamed = rename_columns(meat_cleaned, [
    'Order', 'Income', 'ALL_MEAT', 'RAW_MEAT', 'Beef', 'Pork', 'Chicken',
    'Mixed_ground_meat', 'Other_meat', 'PROCESSED_MEAT', 'Ham', 'Sausage',
    'Bacon', 'Other_processed_meat'
])
cereal_renamed = rename_columns(cereal_cleaned, [
    'Order', 'Income', 'Number_of_household', 'Number_of_people',
    'Number_of_labor', 'Age', 'Total_Consumption', 'Total_Food_Consumption',
    'CEREALS', 'Rice', 'Bread', 'WhiteBread', 'OtherBread', 'NOODLES',
    'Non-dried_Udon$Soba', 'Dried_Udon&Soba', 'Pasta', 'Chinese noodles',
    'Cup noodles', 'Instant noodles', 'Other noodles', 'OTHER_CEREALS',
    'Wheat flour', 'Rice-cakes', 'OTHERS'
])

# 5. Merge the two datasets
merged_data = merge_data(cereal_renamed, meat_renamed)

# 6. Reshape the merged data to long format
long_data = reshape_data(merged_data)

# 7. Save the result to a CSV file
save_to_csv(long_data, 'result/Income_and_Food_Consumption_Data.csv')

# 8. Display the first two rows of the final dataset
long_data.head(10)

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.12/site-packages (2.0.1)

  Order                       Income             Category    Value
0     Ⅰ  (   0,000,000 ～ 3,330,000 )  Number_of_household  1512.00
1     Ⅱ  (   3,330,000 ～ 4,700,000 )  Number_of_household  1501.00
2     Ⅲ  (   4,700,000 ～ 6,390,000 )  Number_of_household  1456.00
3     Ⅳ  (   6,390,000 ～ 8,640,000 )  Number_of_household  1437.00
4     Ⅴ  (   8,640,000 ～ 0,000,000 )  Number_of_household  1353.00
5     Ⅰ  (   0,000,000 ～ 3,330,000 )     Number_of_people     2.29
6     Ⅱ  (   3,330,000 ～ 4,700,000 )     Number_of_people     2.55
7     Ⅲ  (   4,700,000 ～ 6,390,000 )     Number_of_people     3.05
8     Ⅳ  (   6,390,000 ～ 8,640,000 )     Number_of_people     3.26
9     Ⅴ  (   8,640,000 ～ 0,000,000 )     Number_of_people     3.32

In [2]:
!ls

data_processing.ipynb  meat.xls  staple.xls  Untitled.ipynb